/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// BrandKnowledgeQaGetV30ApiService BrandKnowledgeQaGetV30Api service
type BrandKnowledgeQaGetV30ApiService service

type ApiOpenApiV30BrandKnowledgeQaGetGetRequest struct {
	ctx            context.Context
	ApiService     *BrandKnowledgeQaGetV30ApiService
	userQuery      *string
	accountId      *int64
	businessType   *BrandKnowledgeQaGetV30BusinessType
	sessionId      *string
	chatHistoryStr *string
}

// 用户提问
func (r *ApiOpenApiV30BrandKnowledgeQaGetGetRequest) UserQuery(userQuery string) *ApiOpenApiV30BrandKnowledgeQaGetGetRequest {
	r.userQuery = &userQuery
	return r
}

// 用户ID
func (r *ApiOpenApiV30BrandKnowledgeQaGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30BrandKnowledgeQaGetGetRequest {
	r.accountId = &accountId
	return r
}

// 业务线类型
func (r *ApiOpenApiV30BrandKnowledgeQaGetGetRequest) BusinessType(businessType BrandKnowledgeQaGetV30BusinessType) *ApiOpenApiV30BrandKnowledgeQaGetGetRequest {
	r.businessType = &businessType
	return r
}

// 会话ID
func (r *ApiOpenApiV30BrandKnowledgeQaGetGetRequest) SessionId(sessionId string) *ApiOpenApiV30BrandKnowledgeQaGetGetRequest {
	r.sessionId = &sessionId
	return r
}

// 对话历史
func (r *ApiOpenApiV30BrandKnowledgeQaGetGetRequest) ChatHistoryStr(chatHistoryStr string) *ApiOpenApiV30BrandKnowledgeQaGetGetRequest {
	r.chatHistoryStr = &chatHistoryStr
	return r
}

func (r *ApiOpenApiV30BrandKnowledgeQaGetGetRequest) Execute() (*BrandKnowledgeQaGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30BrandKnowledgeQaGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30BrandKnowledgeQaGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30BrandKnowledgeQaGetGetRequest) WithLog(enable bool) *ApiOpenApiV30BrandKnowledgeQaGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30BrandKnowledgeQaGetGet Method for OpenApiV30BrandKnowledgeQaGetGet

品牌知识问答

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30BrandKnowledgeQaGetGetRequest
*/
func (a *BrandKnowledgeQaGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30BrandKnowledgeQaGetGetRequest {
	return &ApiOpenApiV30BrandKnowledgeQaGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BrandKnowledgeQaGetV30Response
func (a *BrandKnowledgeQaGetV30ApiService) getExecute(r *ApiOpenApiV30BrandKnowledgeQaGetGetRequest) (*BrandKnowledgeQaGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *BrandKnowledgeQaGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/brand/knowledge_qa/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.userQuery == nil {
		return localVarReturnValue, nil, ReportError("userQuery is required and must be specified")
	}

	if r.accountId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "user_query", r.userQuery)
	if r.businessType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "business_type", r.businessType)
	}
	if r.sessionId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "session_id", r.sessionId)
	}
	if r.chatHistoryStr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "chat_history_str", r.chatHistoryStr)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
