/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// QianchuanEntityCenterGetV10ApiService QianchuanEntityCenterGetV10Api service
type QianchuanEntityCenterGetV10ApiService service

type ApiOpenApiV10QianchuanEntityCenterGetGetRequest struct {
	ctx           context.Context
	ApiService    *QianchuanEntityCenterGetV10ApiService
	advertiserId  *int64
	startTime     *string
	endTime       *string
	authorization *string
	caller        *string
	limit         *int64
	offset        *int64
}

// 广告主 ID
func (r *ApiOpenApiV10QianchuanEntityCenterGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV10QianchuanEntityCenterGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 查询开始时间，支持 yyyy-MM-dd HH:mm:ss 或 yyyyMMdd
func (r *ApiOpenApiV10QianchuanEntityCenterGetGetRequest) StartTime(startTime string) *ApiOpenApiV10QianchuanEntityCenterGetGetRequest {
	r.startTime = &startTime
	return r
}

// 查询结束时间，支持 yyyy-MM-dd HH:mm:ss 或 yyyyMMdd
func (r *ApiOpenApiV10QianchuanEntityCenterGetGetRequest) EndTime(endTime string) *ApiOpenApiV10QianchuanEntityCenterGetGetRequest {
	r.endTime = &endTime
	return r
}

// Entity Center 访问 Authorization，由接口固定注入
func (r *ApiOpenApiV10QianchuanEntityCenterGetGetRequest) Authorization(authorization string) *ApiOpenApiV10QianchuanEntityCenterGetGetRequest {
	r.authorization = &authorization
	return r
}

// Entity Center 调用方标识，由接口固定注入
func (r *ApiOpenApiV10QianchuanEntityCenterGetGetRequest) Caller(caller string) *ApiOpenApiV10QianchuanEntityCenterGetGetRequest {
	r.caller = &caller
	return r
}

// 返回条数，默认 100
func (r *ApiOpenApiV10QianchuanEntityCenterGetGetRequest) Limit(limit int64) *ApiOpenApiV10QianchuanEntityCenterGetGetRequest {
	r.limit = &limit
	return r
}

// 分页偏移量，默认 0
func (r *ApiOpenApiV10QianchuanEntityCenterGetGetRequest) Offset(offset int64) *ApiOpenApiV10QianchuanEntityCenterGetGetRequest {
	r.offset = &offset
	return r
}

func (r *ApiOpenApiV10QianchuanEntityCenterGetGetRequest) Execute() ([]byte, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV10QianchuanEntityCenterGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV10QianchuanEntityCenterGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10QianchuanEntityCenterGetGetRequest) WithLog(enable bool) *ApiOpenApiV10QianchuanEntityCenterGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10QianchuanEntityCenterGetGet Method for OpenApiV10QianchuanEntityCenterGetGet

查询千川广告主 2026 ROI2 核心指标数据

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10QianchuanEntityCenterGetGetRequest
*/
func (a *QianchuanEntityCenterGetV10ApiService) Get(ctx context.Context) *ApiOpenApiV10QianchuanEntityCenterGetGetRequest {
	return &ApiOpenApiV10QianchuanEntityCenterGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return QianchuanEntityCenterGetV10Response
func (a *QianchuanEntityCenterGetV10ApiService) getExecute(r *ApiOpenApiV10QianchuanEntityCenterGetGetRequest) ([]byte, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue []byte
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/qianchuan_entity_center/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}
	if r.startTime == nil {
		return localVarReturnValue, nil, ReportError("startTime is required and must be specified")
	}
	if r.endTime == nil {
		return localVarReturnValue, nil, ReportError("endTime is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_time", r.startTime)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_time", r.endTime)
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit)
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	if r.authorization != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "authorization", r.authorization)
	}
	if r.caller != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "caller", r.caller)
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
