/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// NearRealtimeCostGetV30ApiService NearRealtimeCostGetV30Api service
type NearRealtimeCostGetV30ApiService service

type ApiOpenApiV30NearRealtimeCostGetGetRequest struct {
	ctx        context.Context
	ApiService *NearRealtimeCostGetV30ApiService
	accountIds *[]int64
	startDate  *string
	endDate    *string
	page       *int32
	pageSize   *int32
}

// 广告主id列表，最多支持传100个
func (r *ApiOpenApiV30NearRealtimeCostGetGetRequest) AccountIds(accountIds []int64) *ApiOpenApiV30NearRealtimeCostGetGetRequest {
	r.accountIds = &accountIds
	return r
}

// 查询起始日期，格式为yyyy-MM-dd
func (r *ApiOpenApiV30NearRealtimeCostGetGetRequest) StartDate(startDate string) *ApiOpenApiV30NearRealtimeCostGetGetRequest {
	r.startDate = &startDate
	return r
}

// 查询结束日期，格式为yyyy-MM-dd
func (r *ApiOpenApiV30NearRealtimeCostGetGetRequest) EndDate(endDate string) *ApiOpenApiV30NearRealtimeCostGetGetRequest {
	r.endDate = &endDate
	return r
}

// 页码，默认为1
func (r *ApiOpenApiV30NearRealtimeCostGetGetRequest) Page(page int32) *ApiOpenApiV30NearRealtimeCostGetGetRequest {
	r.page = &page
	return r
}

// 页面大小，默认为10
func (r *ApiOpenApiV30NearRealtimeCostGetGetRequest) PageSize(pageSize int32) *ApiOpenApiV30NearRealtimeCostGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30NearRealtimeCostGetGetRequest) Execute() (*models.NearRealtimeCostGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30NearRealtimeCostGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30NearRealtimeCostGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30NearRealtimeCostGetGetRequest) WithLog(enable bool) *ApiOpenApiV30NearRealtimeCostGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30NearRealtimeCostGetGet Method for OpenApiV30NearRealtimeCostGetGet

查询账户区分资金来源的准实时消耗，在投放期内的预估花费金额。当天数据可能会有波动，次日9点后稳定

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30NearRealtimeCostGetGetRequest
*/
func (a *NearRealtimeCostGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30NearRealtimeCostGetGetRequest {
	return &ApiOpenApiV30NearRealtimeCostGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return NearRealtimeCostGetV30Response
func (a *NearRealtimeCostGetV30ApiService) getExecute(r *ApiOpenApiV30NearRealtimeCostGetGetRequest) (*models.NearRealtimeCostGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.NearRealtimeCostGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/near_realtime_cost/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountIds == nil {
		return localVarReturnValue, nil, ReportError("accountIds is required and must be specified")
	}
	if r.startDate == nil {
		return localVarReturnValue, nil, ReportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, ReportError("endDate is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_ids", r.accountIds)
	parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
