/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// EbpTaskInfoGetV30ApiService EbpTaskInfoGetV30Api service
type EbpTaskInfoGetV30ApiService service

type ApiOpenApiV30EbpTaskInfoGetGetRequest struct {
	ctx                      context.Context
	ApiService               *EbpTaskInfoGetV30ApiService
	enterpriseOrganizationId *int64
	taskId                   *int64
	filter                   *EbpTaskInfoGetV30Filter
	page                     *int64
	pageSize                 *int64
}

// 工作台组织ID
func (r *ApiOpenApiV30EbpTaskInfoGetGetRequest) EnterpriseOrganizationId(enterpriseOrganizationId int64) *ApiOpenApiV30EbpTaskInfoGetGetRequest {
	r.enterpriseOrganizationId = &enterpriseOrganizationId
	return r
}

// 任务ID
func (r *ApiOpenApiV30EbpTaskInfoGetGetRequest) TaskId(taskId int64) *ApiOpenApiV30EbpTaskInfoGetGetRequest {
	r.taskId = &taskId
	return r
}

// 过滤器
func (r *ApiOpenApiV30EbpTaskInfoGetGetRequest) Filter(filter EbpTaskInfoGetV30Filter) *ApiOpenApiV30EbpTaskInfoGetGetRequest {
	r.filter = &filter
	return r
}

// 页码
func (r *ApiOpenApiV30EbpTaskInfoGetGetRequest) Page(page int64) *ApiOpenApiV30EbpTaskInfoGetGetRequest {
	r.page = &page
	return r
}

// 页面大小
func (r *ApiOpenApiV30EbpTaskInfoGetGetRequest) PageSize(pageSize int64) *ApiOpenApiV30EbpTaskInfoGetGetRequest {
	r.pageSize = &pageSize
	return r
}

func (r *ApiOpenApiV30EbpTaskInfoGetGetRequest) Execute() (*EbpTaskInfoGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30EbpTaskInfoGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30EbpTaskInfoGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30EbpTaskInfoGetGetRequest) WithLog(enable bool) *ApiOpenApiV30EbpTaskInfoGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30EbpTaskInfoGetGet Method for OpenApiV30EbpTaskInfoGetGet

查看异步任务执行进度/结果

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30EbpTaskInfoGetGetRequest
*/
func (a *EbpTaskInfoGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30EbpTaskInfoGetGetRequest {
	return &ApiOpenApiV30EbpTaskInfoGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EbpTaskInfoGetV30Response
func (a *EbpTaskInfoGetV30ApiService) getExecute(r *ApiOpenApiV30EbpTaskInfoGetGetRequest) (*EbpTaskInfoGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *EbpTaskInfoGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/ebp/task_info/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.enterpriseOrganizationId == nil {
		return localVarReturnValue, nil, ReportError("enterpriseOrganizationId is required and must be specified")
	}
	if r.taskId == nil {
		return localVarReturnValue, nil, ReportError("taskId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "enterprise_organization_id", r.enterpriseOrganizationId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "task_id", r.taskId)
	if r.filter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "filter", r.filter)
	}
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page)
	}
	if r.pageSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page_size", r.pageSize)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
