/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// ToolsExtremeMaterialLimitGetV30ApiService ToolsExtremeMaterialLimitGetV30Api service
type ToolsExtremeMaterialLimitGetV30ApiService service

type ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest struct {
	ctx              context.Context
	ApiService       *ToolsExtremeMaterialLimitGetV30ApiService
	advertiserId     *int64
	startDate        *string
	endDate          *string
	notificationType *ToolsExtremeMaterialLimitGetV30NotificationType
}

func (r *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest) AdvertiserId(advertiserId int64) *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest {
	r.advertiserId = &advertiserId
	return r
}

// 历史 records 查询起始日期，格式 yyyy-mm-dd，默认 t-29。
func (r *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest) StartDate(startDate string) *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest {
	r.startDate = &startDate
	return r
}

// 历史 records 查询截止日期，格式 yyyy-mm-dd，默认 t（今日）。
func (r *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest) EndDate(endDate string) *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest {
	r.endDate = &endDate
	return r
}

// 通知类型筛选，允许值：WARN 警告 / LIMIT 限制，不传返回全部。
func (r *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest) NotificationType(notificationType ToolsExtremeMaterialLimitGetV30NotificationType) *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest {
	r.notificationType = &notificationType
	return r
}

func (r *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest) Execute() (*ToolsExtremeMaterialLimitGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest) WithLog(enable bool) *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30ToolsExtremeMaterialLimitGetGet Method for OpenApiV30ToolsExtremeMaterialLimitGetGet

查询广告主近 30 天在关联组×二级行业、company_id×二级行业两维度的警告/限制通知、命中层级、限制周期

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest
*/
func (a *ToolsExtremeMaterialLimitGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest {
	return &ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return ToolsExtremeMaterialLimitGetV30Response
func (a *ToolsExtremeMaterialLimitGetV30ApiService) getExecute(r *ApiOpenApiV30ToolsExtremeMaterialLimitGetGetRequest) (*ToolsExtremeMaterialLimitGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *ToolsExtremeMaterialLimitGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/tools/extreme_material_limit/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.advertiserId == nil {
		return localVarReturnValue, nil, ReportError("advertiserId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "advertiser_id", r.advertiserId)
	if r.startDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "start_date", r.startDate)
	}
	if r.endDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "end_date", r.endDate)
	}
	if r.notificationType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "notification_type", r.notificationType)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
