/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"
	. "github.com/oceanengine/ad_open_sdk_go/models"
)

// EbpSubGroupCreateV30ApiService EbpSubGroupCreateV30Api service
type EbpSubGroupCreateV30ApiService service

type ApiOpenApiV30EbpSubGroupCreatePostRequest struct {
	ctx                         context.Context
	ApiService                  *EbpSubGroupCreateV30ApiService
	ebpSubGroupCreateV30Request *EbpSubGroupCreateV30Request
}

func (r *ApiOpenApiV30EbpSubGroupCreatePostRequest) EbpSubGroupCreateV30Request(ebpSubGroupCreateV30Request EbpSubGroupCreateV30Request) *ApiOpenApiV30EbpSubGroupCreatePostRequest {
	r.ebpSubGroupCreateV30Request = &ebpSubGroupCreateV30Request
	return r
}

func (r *ApiOpenApiV30EbpSubGroupCreatePostRequest) Execute() (*EbpSubGroupCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30EbpSubGroupCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30EbpSubGroupCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30EbpSubGroupCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30EbpSubGroupCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30EbpSubGroupCreatePost Method for OpenApiV30EbpSubGroupCreatePost

创建EBP得子组织

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30EbpSubGroupCreatePostRequest
*/
func (a *EbpSubGroupCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30EbpSubGroupCreatePostRequest {
	return &ApiOpenApiV30EbpSubGroupCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EbpSubGroupCreateV30Response
func (a *EbpSubGroupCreateV30ApiService) postExecute(r *ApiOpenApiV30EbpSubGroupCreatePostRequest) (*EbpSubGroupCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*FormFileInfo
		localVarReturnValue *EbpSubGroupCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/ebp/sub_group/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.ebpSubGroupCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
