/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// UbaToolPredUpdateV10ApiService UbaToolPredUpdateV10Api service
type UbaToolPredUpdateV10ApiService service

type ApiOpenApiV10UbaToolPredUpdatePostRequest struct {
	ctx                         context.Context
	ApiService                  *UbaToolPredUpdateV10ApiService
	ubaToolPredUpdateV10Request *models.UbaToolPredUpdateV10Request
}

func (r *ApiOpenApiV10UbaToolPredUpdatePostRequest) UbaToolPredUpdateV10Request(ubaToolPredUpdateV10Request models.UbaToolPredUpdateV10Request) *ApiOpenApiV10UbaToolPredUpdatePostRequest {
	r.ubaToolPredUpdateV10Request = &ubaToolPredUpdateV10Request
	return r
}

func (r *ApiOpenApiV10UbaToolPredUpdatePostRequest) Execute() (*models.UbaToolPredUpdateV10Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV10UbaToolPredUpdatePostRequest) AccessToken(accessToken string) *ApiOpenApiV10UbaToolPredUpdatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV10UbaToolPredUpdatePostRequest) WithLog(enable bool) *ApiOpenApiV10UbaToolPredUpdatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV10UbaToolPredUpdatePost Method for OpenApiV10UbaToolPredUpdatePost

agent用于模型预估纠偏

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV10UbaToolPredUpdatePostRequest
*/
func (a *UbaToolPredUpdateV10ApiService) Post(ctx context.Context) *ApiOpenApiV10UbaToolPredUpdatePostRequest {
	return &ApiOpenApiV10UbaToolPredUpdatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return UbaToolPredUpdateV10Response
func (a *UbaToolPredUpdateV10ApiService) postExecute(r *ApiOpenApiV10UbaToolPredUpdatePostRequest) (*models.UbaToolPredUpdateV10Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.UbaToolPredUpdateV10Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v1.0/uba_tool/pred/update/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.ubaToolPredUpdateV10Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
