/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// CgTransferV2WalletTransferDetailGetV30ApiService CgTransferV2WalletTransferDetailGetV30Api service
type CgTransferV2WalletTransferDetailGetV30ApiService service

type ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest struct {
	ctx                  context.Context
	ApiService           *CgTransferV2WalletTransferDetailGetV30ApiService
	accountId            *int64
	userType             *models.CgTransferV2WalletTransferDetailGetV30UserType
	origin               *models.CgTransferV2WalletTransferDetailGetV30Origin
	transferBizRequestNo *string
	transferSerial       *string
}

// 鉴权账户
func (r *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest) AccountId(accountId int64) *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest {
	r.accountId = &accountId
	return r
}

// 登录用户类型
func (r *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest) UserType(userType models.CgTransferV2WalletTransferDetailGetV30UserType) *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest {
	r.userType = &userType
	return r
}

// 转账来源
func (r *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest) Origin(origin models.CgTransferV2WalletTransferDetailGetV30Origin) *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest {
	r.origin = &origin
	return r
}

// 发起转账请求id（发起转账请求id、转账编号二选一传）
func (r *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest) TransferBizRequestNo(transferBizRequestNo string) *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest {
	r.transferBizRequestNo = &transferBizRequestNo
	return r
}

// 转账编号（发起转账请求id、转账编号二选一传）
func (r *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest) TransferSerial(transferSerial string) *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest {
	r.transferSerial = &transferSerial
	return r
}

func (r *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest) Execute() (*models.CgTransferV2WalletTransferDetailGetV30Response, *http.Response, error) {
	return r.ApiService.getExecute(r)
}

func (r *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest) AccessToken(accessToken string) *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest) WithLog(enable bool) *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30CgTransferV2WalletTransferDetailGetGet Method for OpenApiV30CgTransferV2WalletTransferDetailGetGet

查询单个转账单信息

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest
*/
func (a *CgTransferV2WalletTransferDetailGetV30ApiService) Get(ctx context.Context) *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest {
	return &ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CgTransferV2WalletTransferDetailGetV30Response
func (a *CgTransferV2WalletTransferDetailGetV30ApiService) getExecute(r *ApiOpenApiV30CgTransferV2WalletTransferDetailGetGetRequest) (*models.CgTransferV2WalletTransferDetailGetV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.CgTransferV2WalletTransferDetailGetV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/cg_transfer/v2/wallet/transfer_detail/get/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, ReportError("accountId is required and must be specified")
	}
	if r.userType == nil {
		return localVarReturnValue, nil, ReportError("userType is required and must be specified")
	}
	if r.origin == nil {
		return localVarReturnValue, nil, ReportError("origin is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "account_id", r.accountId)
	parameterAddToHeaderOrQuery(localVarQueryParams, "user_type", r.userType)
	parameterAddToHeaderOrQuery(localVarQueryParams, "origin", r.origin)
	if r.transferBizRequestNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transfer_biz_request_no", r.transferBizRequestNo)
	}
	if r.transferSerial != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transfer_serial", r.transferSerial)
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
