/*
Oceanengine Open Api

巨量引擎开放平台 Open Api


*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package api

import (
	"context"
	"net/http"
	"net/url"

	"github.com/oceanengine/ad_open_sdk_go/config"

	"github.com/oceanengine/ad_open_sdk_go/models"
)

// EbpAccountCreateV30ApiService EbpAccountCreateV30Api service
type EbpAccountCreateV30ApiService service

type ApiOpenApiV30EbpAccountCreatePostRequest struct {
	ctx                        context.Context
	ApiService                 *EbpAccountCreateV30ApiService
	ebpAccountCreateV30Request *models.EbpAccountCreateV30Request
}

func (r *ApiOpenApiV30EbpAccountCreatePostRequest) EbpAccountCreateV30Request(ebpAccountCreateV30Request models.EbpAccountCreateV30Request) *ApiOpenApiV30EbpAccountCreatePostRequest {
	r.ebpAccountCreateV30Request = &ebpAccountCreateV30Request
	return r
}

func (r *ApiOpenApiV30EbpAccountCreatePostRequest) Execute() (*models.EbpAccountCreateV30Response, *http.Response, error) {
	return r.ApiService.postExecute(r)
}

func (r *ApiOpenApiV30EbpAccountCreatePostRequest) AccessToken(accessToken string) *ApiOpenApiV30EbpAccountCreatePostRequest {
	r.ctx = context.WithValue(r.ctx, config.ContextAccessToken, accessToken)
	return r
}

func (r *ApiOpenApiV30EbpAccountCreatePostRequest) WithLog(enable bool) *ApiOpenApiV30EbpAccountCreatePostRequest {
	if enable {
		r.ctx = context.WithValue(r.ctx, config.ContextEnableLog, true)
	}
	return r
}

/*
OpenApiV30EbpAccountCreatePost Method for OpenApiV30EbpAccountCreatePost

工作台组织下创建账户

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiOpenApiV30EbpAccountCreatePostRequest
*/
func (a *EbpAccountCreateV30ApiService) Post(ctx context.Context) *ApiOpenApiV30EbpAccountCreatePostRequest {
	return &ApiOpenApiV30EbpAccountCreatePostRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return EbpAccountCreateV30Response
func (a *EbpAccountCreateV30ApiService) postExecute(r *ApiOpenApiV30EbpAccountCreatePostRequest) (*models.EbpAccountCreateV30Response, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           map[string]*models.FormFileInfo
		localVarReturnValue *models.EbpAccountCreateV30Response
	)

	r.ctx = a.client.prepareCtx(r.ctx)

	localBasePath := a.client.Cfg.GetBasePath()

	localVarPath := localBasePath + "/open_api/v3.0/ebp/account/create/"

	localVarHeaderParams := make(map[string]string)
	formFiles = make(map[string]*models.FormFileInfo)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// body params
	localVarPostBody = r.ebpAccountCreateV30Request
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.call(r.ctx, req, &localVarReturnValue)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}
	return localVarReturnValue, localVarHTTPResponse, nil
}
